
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* topbar create by punit */
.header-topbar{
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.header-topbar .topbar{
  justify-content: end;
}

.header-topbar a{
    text-decoration: none;
    color: var(--black-900);
}

.header-topbar .topbar .headre-topbar-curency .flag{
     background-image:url(../img/usd.svg);
     background-repeat: no-repeat;
     padding-left: 40px;
}

.header-topbar .topbar .headre-topbar-curency .nav-bar{
    position: relative;
    
}

.header-topbar .topbar .headre-topbar-curency .nav-bar:focus-within .dropdown{
    display: block;
}

.header-topbar .topbar .headre-topbar-curency .dropdown{
     background-color: var(--white-900);
     border-radius: 5px;
    color: var(--white-900);
    position: absolute;
    padding: 10px 20px 0 20px;
    z-index: 15;
    top: 40px;
    right: 40px;
    width: max-content;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    display: none;
}

.header-topbar .topbar .headre-topbar-curency .nav-bar .dropdown{
    font-size: 12px;
}

.header-topbar .topbar .headre-topbar-curency .nav-bar .dropdown .eur{
    background-image: url(../img/eur.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
}

.header-topbar .topbar .headre-topbar-curency .nav-bar .dropdown .usd{
     background-image: url(../img/usd.svg);
    background-repeat: no-repeat;
    padding-left: 40px;

}

.header-topbar .topbar .headre-topbar-curency .nav-bar .dropdown .gbp{
 background-image: url(../img/gbp.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
}


.header-topbar .topbar .language .nav-bar{
    position: relative;
}


.header-topbar .topbar .language .nav-bar:focus-within .dropdown{
    display: block;
}

.header-topbar .topbar .language .dropdown{
      background-color: var(--white-900);
     border-radius: 5px;
     color: var(--white-900);
    position: absolute;
     padding: 10px 20px 0 20px;
    z-index: 15;
    top: 40px;
    right: 20px;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    display: none;
  
}


.dropdown a:hover{
    background-color:var(--white-900);
    color: var(--dark-gray-900);
    border-radius: 4px;
}

.header-topbar .topbar .dropdown p{
    border-bottom: 1px solid var(--grey);
    padding: 10px 80px 0px 10px;
}


/* header create by punit */

header{
    margin-top: 30px;
    position: sticky;
    height: 80px;
    top: 0px;
    background-color: white;
    z-index: 9;
}

header .logo img{
  max-width: 80px;
}

header nav a{
    text-decoration: none;
    display: inline-block;
    color: var(--black-900);
}

header nav ul .drop{
    position: relative;
}

header nav ul .drop:hover .dropdown{
    display: block;
}

header nav .dropdown{
     background-color: var(--white-900);
     /* border-radius: 5px; */
     color: var(--white-900);
    position: absolute;
     padding: 10px 150px 0 20px;
    z-index: 9;
    top: 45px;
    left: 30px;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    display: none;

}

header nav .dropdown a{
   display: block;
   /* padding: 0px 10px; */
   font-size: 12px;
   color: var(--grey);
}

header nav .active{
    color: var(--dark-gray-900);
}
header nav{
 margin-left: 320px;

}

header nav ul li{
    padding-left: 30px;
     line-height: 3;
}

header nav .header-page{
    margin-left: 220px;
   
}

header nav .header-page a{
    padding-left: 30px;
}


/* # main portion by sumit  */

main{
    background-image: url(/img/main-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding-bottom: 96px;
}
main .container{
    position: relative;
}

main .bg1 .info-div1{
   padding-top: 549px;
}

main .bg1 .info-div1 p{
 color: var(--white-900);
}

main .bg1 .info-div1 h2{
    font-family: var(--font-famaly-nunito);
    font-weight: 600;
    font-size:50px;
    color:var(--white-900);
}
main .bg1 .info-div1 a{
    background: transparent;
    padding-bottom: 20px;
    text-decoration: none;
    padding: 10px 30px;
    color: var(--white-900);
    border: 0.5px solid var(--white-900); 
}
main .bg1 .info-div1 a:hover{
    background-color: var(--dark-gray-900);
    border:1px solid var(--dark-gray-900);
    
}


/* # cards in main  */

main .main-cards{
    background-color:var(--white-900);
    position: absolute;
    bottom: -235px;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;;
}

/* # trending portion  */

.trending-portion {
    padding-top: 250px;
    text-align: center;
    
}

.trending-portion .trending-header{
    justify-content: center;
    padding-bottom: 50px;
}

.trending-portion .trending-header h3{
    font-style: var(--font-famaly-spectral);
    /* font-weight: 600; */
    font-size: 35px;
    padding-bottom: 20px;
}

.trending-portion .trending-header a{
    text-decoration: none;
    color: var(--black-600);
    padding: 0px 40px;
    font-size: 20px;
}
.trending-portion .trending-header a:hover{
    color: var(--black-900);
}



/* trending card portion by sumit */



.trending-portion .card-portion{
    position: relative;
    /* text-align: center; */
}
.trending-portion .card-portion .trending-card-1 a{
        position: absolute;
        padding: 15px 70px;
        background-color: var(--white-900);
        left: 100px;
        top: 340px;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
}
.trending-portion .card-portion div a:hover{
    background-color:var(--dark-gray-900);
    /* transition: 0.5s; */
    color: var(--white-900);
}

.trending-portion .card-portion .trending-card-2 .card-item .product-info{
    text-align: start;
    font-weight: 600;
}
.trending-portion .card-portion .trending-card-2 .card-item .item-img{
    position: relative;
    /* overflow: hidden; */
    /* margin: 0 8px; */
}

.trending-portion .card-portion .trending-card-2 .card-item .item-img .item-img2{
    position: absolute;
    bottom:0px;
    top: 0px;
    display: none;
    /* visibility: hidden; !alternative option  */
}

.trending-portion .card-portion .trending-card-2 .card-item:hover .item-img2{
    display: block; 
    /* visibility: visible; !alternative option   */
}

.trending-portion .card-portion .trending-card-2 .card-item .item-img .options{
    position: absolute;
    bottom: 120px;
}

.trending-portion .card-portion .trending-card-2 .card-item .options .options-1{
    /* visibility: hidden; */
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--white-900);
    border-radius: 50%;
    display: none;
}


.trending-portion .card-portion .trending-card-2 .card-item:hover .options-1{
    display: block;
    /* visibility: visible; */
}
/* .trending-portion .card-portion .trending-card-2 .card-item:hover a{
    display: block;
    position: absolute;
    color: black;
} */


.trending-portion .card-portion .trending-card-2 .product-info div .silver{
    background-color: silver;
    color: silver;
    padding: 10px;
    border: 2px solid var(--black-600);
}
.trending-portion .card-portion .trending-card-2 .card-item .product-info div .gold{
    background-color: goldenrod;
    color: goldenrod;
    padding: 10px;
    border: 2px solid var(--black-600);
}
.trending-portion .card-portion .trending-card-2 .card-item .product-info div .bronz{
    background-color:burlywood;
    color: burlywood;
    padding: 10px;
    border: 2px solid var(--black-600);
}

.trending-portion .card-portion .trending-card-2 .card-item .product-info div input:hover{
    border: 2px solid var(--black-900);
}



/* shop card portion */

.shop{
    background-color: #f7f3f3;
}

.shop .heading{
    margin: 90px 0px 40px 0;
    padding: 80px 0px 0px 0px;
    text-align: center;
    color: black;
   font-family: var(--font-famaly-spectral);
   font-weight: 200;
}

.shop .shop-profile .jewellry{
    /* transition: 1s; */
    overflow: hidden;
    margin: 0 8px;
}

.shop .shop-profile .jewellry .shop-img:hover{
     height: 100%;
    transition: 0.9s;
    cursor: pointer;
     transform: scale(1.2) translateY(30px);
}


.shop .shop-profile .item-name{
    margin-top: 20px;
    text-align: center;
 
}

.shop .shop-profile .item-name p{
    margin: 20px 0 60px 0;
    align-items: center;
   max-width: 90%;
}

/* video portion */

.shop-video{
    background-image: url(../img/bg-video.jpg_v=1729677575.png);
     background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    height: 100vh;
    text-align: center;
}

.shop-video .play{
    padding-top: 160px;
}

.shop-video .play .icon{
    margin-left: 620px;
    background-color: var(--white-900);
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.shop-video .play .icon:hover{
     background-color: var(--dark-gray-900);
    color: var(--white-900);
}


.shop-video .play .icon:hover i{
    color: var(--white-900);
}


.shop-video .icon i{
     margin: -115px 27px;
     color: var(--black-900);
     font-size: 40px;
}

.shop-video .shop-des h3{
    margin-top: 70px;
    color: var(--white-900);
    font-size: 60px;
    margin-left: 100px;
   font-family: var(--font-famaly-spectral);
   font-weight: 200;
}

.shop-video .shop-des p{
    margin-top: 30px;
    color: var(--white-900);
    font-size: 20px;
     margin-left: 100px;
}

.shop-video .shop-des a{
    text-decoration: none;
    color: var(--white-900);
    border: 2px solid var(--white-900);
    padding: 10px 40px;
    margin: 30px 0px 0 60px;
    font-size: 20px;
}

.shop-video .shop-des a:hover{
    background-color: var(--dark-gray-900);
    color: var(--white-900);
    border: none;
    /* transition: 0.5s; */
}


/* category portion */
.category .category-info{
    padding: 0 100px;
}

.category .category-info .first-img{
     /* margin: 0px 0px 0 -60px; */
}
.category .category-info .secund-img{
    /* margin: 80px -20px 0 40px; */
}


.category .category-info .third-img{
    /* margin: 0px -30px 0 40px; */
    
   /* min-width: 100px; */
}

.category .category-info .fourth-img{
     /* margin: 40px 0px 0  150px; */
     /* padding-bottom:10px ; */
}

.category .category-info .fifth-img{
      /* margin: 20px -220px 0 220px; */
       /* min-width: 400px; */
}

 .category .category-info{
    border-bottom: 2px solid var(--grey);
 }






