*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* # main portion by sumit  */

main{
    background-image: url(/img/main-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    margin-top: 50px;
    /* overflow: hidden;  */
}
main .bg1 .info-div1 {
    padding-top: 350px;
    /* margin-left: 10px; */
    margin: 0%;
}

main .bg1 .info-div1 p{
 color: var(--white-900);
}

main .bg1 .info-div1 h2{
    font-family: var(--font-famaly-nunito);
    font-weight: 600;
    font-size:50px;
    color:var(--white-900);
}

/* # cards in main  */

main .main-cards{
    background-color: aqua;
    height: 50vh;
}